@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

//font-family: 'Roboto', sans-serif;

$primary-light: #fff;
$primary-color: #175bf5;
$primary-bckg: #d0defd;
$primary-text: #273a63;
$para-text: 1em;
$heading-text: 2em;
$body-font: 'Roboto', sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-bckg;
    color: $primary-text;
    font-size: $para-text;
    font-family: $body-font;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: $primary-light;
}

/////***** Navigation *****/////
.nav-section{
    height: 10vh;
    background-color: $primary-color;
}
.navbar {
    ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: $primary-color;
    color: white;
    
        li { 
            list-style-type: none;
            padding: 1rem;
        }

        a {
            text-decoration: none;
            color: white;
        }
        
        .navbar-logo{
            flex: 1;
            font-size: 1.5rem;
        }

        .signup-button{
            border: 2px solid white;
            border-radius: 15px;
        }
    }
}

/////***** Nav Bar Media Screen Sizes *****/////

/* Basically couldn't figure out how to get the 
hamburger bars to not display, it used to be display:none
on the code lines above, but wouldn't reappear if it went down
to a smaller screen size, but I added the min-widthbelow  that way
if it is in desktop mode it won't display at all
which kinda solved everything for me lol...and
I really...do not know why it works lol*/

@media (min-width: 600px){
    .navbar-toggle{
        display: none;
    }
}

//This will get the hamburger menu to appear

@media (max-width: 600px) {
    .navbar ul{
        flex-wrap: wrap;
    }

    .navbar-toggle{
        display: block;
    }

    .navbar-links {
        display: none; 
        width: 100%;
        text-align: center;
    }

    .active {
        display: block;
    }
    .signup-button{
        border: 2px solid white;
        border-radius: 5px;
    }
}

/////***** Banner/Showcase Section *****/////

/* Played around a lot with the grid to get positioning
right, but I still can't figure out how to get the 
section title up so close to the image...maybe
wrap it in a div?? */

.showcase {
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;

    img {
        grid-row: 1/3;
        grid-column: 1/4;
        height:80%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
        filter: drop-shadow(10px 10px 2px #c8c8c8);
    }

    .info{
        grid-column: 4/5;
        grid-row: 2/4;
        width: 120%;
        
        h3{
            padding-bottom: 30px;
            color: gray;
            letter-spacing: 0.1rem;
        } 

        p{
            color: $primary-color;
            font-size: 2rem;
            letter-spacing: 0.1rem;
        }

        button{
            padding: 5% 7.5% 5% 7.5%;
            text-transform: uppercase;
            font-family: $body-font;
            font-size: .8rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 5%;
            background: none;
            border: 2px solid $primary-color;
            border-radius: 5px;
            outline:none;
            color: $primary-color;
        }
    }
}

/////***** Media Query for Showcase section *****/////

/* This will align the items correctly,
with the info going up on top of the image
grid row placement is extremely helpful in this, but
the tablet view is still kinda janky */

@media only screen and (max-width: 1200px){

    .showcase{
        grid-template-columns: 10% 1fr 10%;
        img{
            width: 100%;
            object-fit:contain;
            grid-column: 2/3;
            grid-row: 2/3;
            margin-top: 10%;
        }
        .info {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 80%;
            margin-top: 15%;
            margin-left: 10%;
        }
    }
}

/////***** Photo Section *****/////

.photogallery-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
}



