@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f9fe;
  color: #273a63;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.nav-section {
  height: 10vh;
  background-color: #4a99f4;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4a99f4;
  color: white;
}

.navbar ul li {
  list-style-type: none;
  padding: 1rem;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.navbar ul .navbar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
}

.navbar ul .signup-button {
  border: 2px solid white;
  border-radius: 15px;
}

/* Basically couldn't figure out how to get the 
hamburger bars to not display, it used to be display:none
on the code lines above, but wouldn't reappear if it went down
to a smaller screen size, but I added the min-widthbelow  that way
if it is in desktop mode it won't display at all
which kinda solved everything for me lol...and
I really...do not know why it works lol*/
@media (min-width: 600px) {
  .navbar-toggle {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  .active {
    display: block;
  }
  .signup-button {
    border: 2px solid white;
    border-radius: 5px;
  }
}

/* Played around a lot with the grid to get positioning
right, but I still can't figure out how to get the 
section title up so close to the image...maybe
wrap it in a div?? */
.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 60vh;
  -ms-grid-columns: 10% (minmax(50px, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  background-color: #fff;
  margin-top: 10%;
}

.showcase img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: drop-shadow(10px 10px 2px #c8c8c8);
          filter: drop-shadow(10px 10px 2px #c8c8c8);
}

.showcase .info {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: 120%;
}

.showcase .info h3 {
  padding-bottom: 30px;
  color: gray;
  letter-spacing: 0.1rem;
}

.showcase .info p {
  color: #4a99f4;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.showcase .info button {
  padding: 5% 7.5% 5% 7.5%;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 5%;
  background: none;
  border: 2px solid #4a99f4;
  border-radius: 5px;
  outline: none;
  color: #4a99f4;
}

/* This will align the items correctly,
with the info going up on top of the image
grid row placement is extremely helpful in this, but
the tablet view is still kinda janky */
@media only screen and (max-width: 1200px) {
  .showcase {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .showcase img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 10%;
  }
  .showcase .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
  }
}

.photo-section {
  height: 60vh;
  width: 100%;
  background-color: #fff;
}

.wrap {
  margin: 0 0 10% 16.5%;
  width: 70%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 100px 300px;
      grid-template-rows: 100px 300px;
}

.wrap .photo-info {
  grid-row: span 4;
  background-color: #f2f9fe;
}

.wrap .photo-info h1 {
  margin-top: 25%;
  margin-left: 10%;
  font-size: 1.75rem;
  font-weight: 400;
  color: #4a99f4;
  width: 60%;
}

.wrap .photo-info p {
  width: 75%;
  margin-left: 10%;
  padding-bottom: 30px;
  color: #4a99f4;
}

.wrap .photogallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 2px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  grid-row: span 4;
}

.wrap .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrap .gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap .gallery-item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
}

.wrap .width {
  grid-column: span 2;
}

.wrap .width2 {
  grid-row: span 2;
}

@media (max-width: 1200px) {
  .wrap {
    -ms-grid-columns: 1;
        grid-template-columns: 1;
  }
}

@media (max-width: 768px) {
  .wrap {
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    height: 325%;
  }
}

.card-container {
  background-color: #fff;
  height: 90vh;
  width: 100%;
  padding-top: 5%;
  padding-left: 16.5%;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  grid-gap: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 84%;
}

.card-grid .card {
  background: #fff;
  border: none;
  text-align: center;
}

.card-grid .card .fas {
  color: #4a99f4;
}

.card-grid .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.card-grid .card .card-header i {
  font-size: 1.5rem;
}

.card-grid .card .card-header h3 {
  color: #4a99f4;
  font-size: 0.7rem;
  padding-right: 45px;
  padding-top: 5px;
}

.card-grid .card .card-header p {
  color: #a8a8a8;
  font-style: italic;
  font-size: 0.8rem;
  padding-top: 5px;
}

.card-grid .card .img-div {
  height: 200px;
  width: 100%;
  padding-bottom: 25px;
}

.card-grid .card img {
  width: 100%;
  height: 100%;
}

.card-grid .card p {
  color: #a8a8a8;
  font-size: 0.8rem;
  padding-bottom: 20px;
  text-align: justify;
}

.card-grid .card .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
}

.card-grid .card .card-bottom .fa-minus-square {
  padding-right: 25%;
}

.card-grid .card .card-bottom button {
  color: #4a99f4;
  text-transform: uppercase;
  background: none;
  border: none;
}

@media (max-width: 1200px) {
  .card-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card-container {
    height: 170%;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .card-container {
    padding-top: 100px;
    height: 325%;
  }
  .card-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .card-header h3 {
    margin-right: 120px;
  }
  .fa-minus-square {
    margin-right: 120px;
  }
}

.boxprice-section {
  width: 100%;
  height: 40vh;
  background-color: #f2f9fe;
}

.boxprice-section .boxprice-wrap {
  width: 50%;
  height: 80%;
  margin-left: 25%;
  margin-top: 5%;
  -webkit-box-shadow: 2px 2px 18px 10px #4a99f4;
          box-shadow: 2px 2px 18px 10px #4a99f4;
}

.boxprice-section .boxprice-wrap .boxprice-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-info {
  background-color: #fff;
  grid-column: span 3;
  grid-row: span 3;
  padding-bottom: 50px;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-info h1 {
  color: #a8a8a8;
  font-size: 3rem;
  padding-left: 15%;
  letter-spacing: 0.2rem;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-info h2 {
  color: #a8a8a8;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-bottom: 28px;
  padding-left: 15%;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-info p {
  font-size: 0.8rem;
  width: 75%;
  color: #4a99f4;
  padding-left: 15%;
  line-height: 1.5rem;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
  margin-left: 25px;
  margin-top: 10px;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-prices p {
  color: #4a99f4;
  font-size: 0.7rem;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-prices p span {
  font-size: 1.3rem;
  font-weight: 600;
}

.boxprice-section .boxprice-wrap .boxprice-grid .boxprice-prices button {
  background-color: white;
  color: #4a99f4;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 8px 0 8px;
  border-radius: 50%;
  border: 1px none white;
  margin-left: 50px;
  margin-bottom: 5px;
}

/* Getting back to tablet media query @media (max-width: 1200px){
}*/
@media (max-width: 768px) {
  .boxprice-wrap {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .boxprice-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20 10% 10% 10%;
  background-color: #4a99f4;
}

footer .footer-link {
  list-style: none;
  margin: 15px;
}

footer .footer-link li {
  padding: 30px 20px;
}

footer .footer-link a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

footer .footer-link i {
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */